<div class="col-xs-4">
    <div class="well text-center">
        <div class="dropdown">
            <button class="btn btn-default" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Page Options
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="./viewContributors">View and Edit Contributors</a></li>
                <li><a href="./viewSimchas">View and Edit Simchas</a></li>
                <li><a href="./addContributor">Add Contributor</a></li>
                <li><a href="./addSimcha">Add Simcha</a></li>
                <li><a href="./contribute">Contribute To Simcha</a></li>
            </ul>
        </div>
    </div> 
    <div class="well text-center">
        <h3>Filter</h3>
        <div>
            <div class="well">
                <a class="btn btn-primary" href="./">View All</a>
            </div>
            <div class="well">
                <% if(contributorsResult.length > 0) { %>
                <form class="form-horizontal" method="get" action="./">
                    <div class="form-group">
                        <div class="col-md-3 text-left">
                            <label for="contributorName">Contributor's Name</label>
                        </div>
                        <div class="col-md-9 text-left">
                            <select id="contributorName" name="contributor_info" class="form-control">
                            <% Object.keys(contributorsResult).forEach(function(keys) {
                                var tableColumns = contributorsResult[keys];
                                if(contributorsResult[keys].active) { %>
                                    <option value="<%= contributorsResult[keys].id %>"><%= contributorsResult[keys].contributor %></option>
                               <% }
                             }); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 text-left">
                        <div class="form-group text-left">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
                <% } %>
            </div>
            <div class="well">
                <% if(simchasResult.length > 0) { %>
                <form class="form-horizontal" method="get" action="./">
                    <div class="form-group">
                        <div class="col-md-3 text-left">
                            <label for="baalSimchaName">Baalei Simcha's Name</label>
                        </div>
                        <div class="col-md-9 text-left">
                            <select id="baalSimchaName" name="simcha" class="form-control">
                            <% Object.keys(simchasResult).forEach(function(keys) {
                                var tableColumns = simchasResult[keys]; 
                                if(simchasResult[keys].active) { %>
                                    <option value="<%= simchasResult[keys].id %>"><%= simchasResult[keys].name %> - <%= simchasResult[keys].simcha_type %></option>
                                <% } %>
                            <% }); %>
                            </select>
                        </div>
                    </div>
                   <div class="col-md-12 text-left">
                        <div class="form-group text-left">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                   </div>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-8">
    <% if(displayTableResult.length > 0) { %>
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
            <% Object.keys(displayTableResult[0]).forEach(rowInColumn => { 
                if(rowInColumn !== 'active') { %>
                    <th>
                        <%= rowInColumn %>
                    </th>
                <% } %>
            <% }); %>
            </tr>
        </thead>
        <tbody>
        <% Object.keys(displayTableResult).forEach(function(keys) {
            var tableColumns = displayTableResult[keys]; 
            if(displayTableResult[keys].active) { %>
                <tr>
                <% Object.keys(displayTableResult[keys]).forEach(rowInColumn => { 
                    if(rowInColumn !== 'active') { %>
                        <td>
                            <%= tableColumns[rowInColumn] %>
                        </td>
                    <% } %>
                <% }); %>
                </tr>
            <% } %>
        <% }); %>
        </tbody>
    </table>
    <% } %>
</div>
<div class="clearfix"></div>
<div class="col-xs-6 text-left">
    <a class="btn btn-warning" href="./logOut">Log Out</a>
</div>
<div class="col-xs-6 text-right">
    <a class="btn btn-info" href="./changePassword">Change Password</a>
</div>